.footer {
    display: flex;
    /* flex: auto; */
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    border-top: 5px solid #FAFAFA;
    justify-content: center;
    /* align-items: center; */
    margin-top: 200px;
    padding: 100px 0px;
}

.logo-social {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.address {
    width: 20%;
}

.mission {
    width: 35%;
    /* padding: 0px 20px; */
}

.address p, .mission p {
    color: #333;
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;
    word-wrap: wrap;
}

.address h6, .mission h6 {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 0px
}

.logo {
    margin-bottom: 100px;
}

.logo img {
    height: 70px;
}

.social {
    display: flex;
    flex-direction: row;
}

.social .icon a img {
    height: 50px;
    margin: 0px 10px;
}

.social .icon a:first-child img {
    margin-left: 0px;
}


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 768px) { 
    .footer {
        flex-direction: column;
        width: 100%;
        margin-top: 0px;
        align-items: center;
    }
    .address, .mission {
        /* width: 33.33%; */
        padding: 30px 0px;
        width: 250px;
        justify-self: center;
    }
    .logo-social {
        width: auto;
    }
    .address p, .mission p {
        font-size: 8px;
        line-height: 11px;
        padding: 0px 10px;
    }
    .mission p {
        font-size: 6px;
    }
    .address h6, .mission h6 {
        padding: 0px 15px;
        margin-bottom: 10px;
    }
}
